@font-face {
    font-family: "StayHappy";
    src: url("font/StayHappy.woff");
}

html {
    height: 100%;
}

*{
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Trebuchet MS';
    /*background-image: url('image/background.jpg');
    background-size: auto;*/
}

.background-container {
    position: absolute;
    height: 100%;
    display: block;
    margin: 0px;
    border: 0px;
    padding: 0px;
    left:0;
    top: 0;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.background-container:before {
    content:"";
    display: block;
    background-image: url('image/background.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.43;
    height: 100%;
    z-index: -1;
}

.header {
    padding: 10px;
    text-align: center;
    color: black;
}

.header h1 {
    font-size: 70px;
    font-family: StayHappy;
}

.top-menu {
    overflow: hidden;
    background-color: black;
    position: relative;
    display: block;
}

.top-menu a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
}

.top-menu a:hover {
    background-color: lightgray;
    color: black;
}

.front-page-container {
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 3px 3px lightgray;
    width: 87.5%;
    position: relative;
    text-align: center;
    margin: 12px auto;
    position: relative;
}

.front-game-container {
    background-color: lightyellow;
    border: 14px;
    box-shadow: 3px 3px lightgray;
    border-radius: 2px;
    margin: 20px;
    vertical-align: top;
    display: inline-block;
    width: 40%;
    position:relative;
}

.image-container {
    width: 256px;
    height: 144px;
}
